.light {
  background: white;
  color: black;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  background: black;
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
